In [2]:
import pandas as pd

In [3]:
file1 = "PyCitySchools/schools_complete.csv"
file2 = "PyCitySchools/students_complete.csv"

In [4]:
#Read and display the CSV with Pandas

studentdata_df = pd.read_csv(file2)
studentdata_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
#Read and display the CSV with Pandas
schoolsdata_df = pd.read_csv(file1)
schoolsdata_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
file3 = pd.merge(studentdata_df, schoolsdata_df, how = 'left', on = ['school_name', 'school_name'])
file3.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
#Find Total Schools
#Find Total Students
total_schools = len(file3["school_name"].unique())
total_students = len(file3["Student ID"].unique())

In [8]:
print(f'Total Schools: {total_schools}')
print(f'Total Students: {total_students}')

Total Schools: 15
Total Students: 39170

In [9]:
#Find Total Budget
sum_budget = schoolsdata_df["budget"].sum()
sumbudget = "${:,}".format(sum_budget)
print(f'Total Budget: {sumbudget}')

Total Budget: $24,649,428

In [10]:
#Find Average Math Score
#Find Average Reading Score
average_math = file3["math_score"].mean()

average_reading = file3["reading_score"].mean()

In [11]:
print(f'Average Math Scores: {average_math}')
print(f'Average Reading Scores: {average_reading}')

Average Math Scores: 78.98537145774827
Average Reading Scores: 81.87784018381414

In [12]:
passing_math_score = file3[(file3["math_score"]>=70)].count()["Student ID"]
passing_math_score

29370

In [13]:
passing_math_percentage = (passing_math_score / total_students) * 100
passing_math_percentage

74.9808526933878

In [14]:
passing_reading_count = file3[(file3["reading_score"]>=70)].count()["Student ID"]
passing_reading_count

33610

In [15]:
passing_reading_percentage = (passing_reading_count / total_students) * 100
passing_reading_percentage

85.80546336482001

In [16]:
overall_count = file3[ (file3["math_score"]>=70)  & (file3["reading_score"]>=70)   ].count()["student_name"]
overall_count

25528

In [17]:
total_percentage = (overall_count / total_students) * 100
total_percentage

65.17232575950983

In [18]:
district_summary = pd.DataFrame({
    "Total Students ": [total_students],
    "Total Schools": [total_schools],
    "Average Math Scores": [average_math],
    "Average Reading Scores": [average_reading],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Passing Passing": [total_percentage],
    "Total Budget": [sumbudget]
})
district_summary

,Total Students,Total Schools,Average Math Scores,Average Reading Scores,% Passing Math,% Passing Reading,% Passing Passing,Total Budget
0,39170,15,78.985371,81.87784,74.980853,85.805463,65.172326,"$24,649,428"

In [71]:
school_types = schoolsdata_df.set_index(["school_name"])["type"]
school_types.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [69]:
per_school_count = file3["school_name"].value_counts()
per_school_count.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [21]:
by_school = file3.set_index('school_name').groupby(['school_name'])

In [22]:
#find total students per school
stu_per_sch = by_school['Student ID'].count()

# school budget
sch_budget = schoolsdata_df.set_index('school_name')['budget']

In [65]:
# school budget
school_budget = schoolsdata_df.set_index('school_name')['budget']
school_budget.head()

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Name: budget, dtype: int64

In [67]:
#find budget per student
student_budget = schoolsdata_df.set_index('school_name')['budget']/schoolsdata_df.set_index('school_name')['size']
student_budget.head()

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
dtype: float64

In [25]:
#find average math score
avg_math = by_school['math_score'].mean()
avg_math.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [26]:
#find average reading score
avg_reading = by_school['reading_score'].mean()
avg_reading.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [27]:
# % Passing Math (The percentage of students that passed math)
# % Passing Reading (The percentage of students that passed reading)
passing_reading_count = file3[(file3["reading_score"]>=70)].count()["Student ID"]
passing_reading_count

33610

In [28]:
passing_reading_percentage = (passing_reading_count / total_students) * 100
passing_reading_percentage

85.80546336482001

In [29]:
passmath = file3[file3['math_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch*100
passmath.head()

school_name
Bailey High School      66.680064
Cabrera High School     94.133477
Figueroa High School    65.988471
Ford High School        68.309602
Griffin High School     93.392371
Name: Student ID, dtype: float64

In [30]:
passreading = file3[file3['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch*100
passreading.head()

school_name
Bailey High School      81.933280
Cabrera High School     97.039828
Figueroa High School    80.739234
Ford High School        79.299014
Griffin High School     97.138965
Name: Student ID, dtype: float64

In [31]:
# % Overall Passing (The percentage of students that passed math **and** reading)
overall_count = file3[ (file3["math_score"]>=70)  & (file3["reading_score"]>=70)   ].count()["student_name"]
overall_count

25528

In [32]:
total_percentage = (overall_count / total_students) * 100
total_percentage

65.17232575950983

In [33]:
# % Overall Passing (The percentage of students that passed math **and** reading)
overallpass = (passmath + passreading)/2
overallpass.head()

school_name
Bailey High School      74.306672
Cabrera High School     95.586652
Figueroa High School    73.363852
Ford High School        73.804308
Griffin High School     95.265668
Name: Student ID, dtype: float64

In [35]:
school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_count,
    "Per Student Budget": student_budget,
    "Total School Budget": school_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_reading,
    "Percentage Passing Math" : passmath,
    "Percentage Passing Reading" : passreading,
    "Percentage Overall Passing" : overallpass
})
school_summary.head()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
Bailey High School,District,4976,628.0,3124928,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,639.0,1884411,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,644.0,1763916,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,93.392371,97.138965,95.265668

In [36]:
#Top Performing Schools (by overall passing)
top_performers = school_summary.sort_values(["Percentage Overall Passing"], ascending=[False])
top_performers.head()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,638.0,1043130,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,609.0,585858,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,578.0,1319574,83.274201,83.989488,93.867718,96.539641,95.203679

In [37]:
#Bottom Performing Schools (by overall passing)
bottom_performers = school_summary.sort_values(["Percentage Overall Passing"], ascending=[True])
bottom_performers.head()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
Rodriguez High School,District,3999,637.0,2547363,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,639.0,1884411,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,655.0,1910635,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,650.0,3094650,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,644.0,1763916,77.102592,80.746258,68.309602,79.299014,73.804308

In [38]:
file3['grade'].unique()

array(['9th', '12th', '11th', '10th'], dtype=object)

In [39]:
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
# Create a pandas series for each grade. Hint: use a conditional statement.
# Group each series by school

grade_9th_ds = file3.loc[file3["grade"] == "9th"].groupby(["school_name"])["math_score"].mean()
grade_10th_ds = file3.loc[file3["grade"] == "10th"].groupby(["school_name"])["math_score"].mean()
grade_11th_ds = file3.loc[file3["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()
grade_12th_ds = file3.loc[file3["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()

# Combine the series into a dataframe
grade_summary_df = pd.DataFrame({"9th": grade_9th_ds,
      "10th": grade_10th_ds,
      "11th": grade_11th_ds,
      "12th": grade_12th_ds})

grade_summary_df[["9th", "10th", "11th", "12th"]]

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [40]:
# Create a table that lists the average reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
# Create a pandas series for each grade. Hint: use a conditional statement.
# Group each series by school

grade_9th_ds = file3.loc[file3["grade"] == "9th"].groupby(["school_name"])["reading_score"].mean()
grade_10th_ds = file3.loc[file3["grade"] == "10th"].groupby(["school_name"])["reading_score"].mean()
grade_11th_ds = file3.loc[file3["grade"] == "11th"].groupby(["school_name"])["reading_score"].mean()
grade_12th_ds = file3.loc[file3["grade"] == "12th"].groupby(["school_name"])["reading_score"].mean()

# Combine the series into a dataframe
grade_summary_df = pd.DataFrame({"9th": grade_9th_ds,
      "10th": grade_10th_ds,
      "11th": grade_11th_ds,
      "12th": grade_12th_ds})

grade_summary_df[["9th", "10th", "11th", "12th"]]

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [46]:
# merge names
schoolsdata_df.rename(columns = {'name': 'school'}, inplace = True)
merged_df = studentdata_df.merge(schoolsdata_df, how = 'left', on = 'school_name')

In [48]:
#score by school spending bins
# Sample bins. 

spending_bins = [0, 584.999, 614.999, 644.999, 999999]
group_names = ['< $585', "$585 - 614", "$615 - 644", "> $644"]
merged_df['spending_bins'] = pd.cut(merged_df['budget']/merged_df['size'], bins, labels = group_name)


#group by spending
by_spending = merged_df.groupby('spending_bins')

#calculations
average_math = by_spending['math_score'].mean()
average_read = by_spending['reading_score'].mean()

In [49]:
passing_math = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
passing_read = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

# df build

In [50]:
scores_by_spend = pd.DataFrame({
    "Average Math Score": average_math,
    "Average Reading Score": average_read,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_read,
    "Overall Passing Rate": overall
})

In [51]:
#reorder columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

In [52]:
scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)
#formating
scores_by_spend.style.format({'Average Math Score': '{:.1f}',
                              'Average Reading Score': '{:.1f}',
                              '% Passing Math': '{:.1%}',
                              '% Passing Reading':'{:.1%}',
                              'Overall Passing Rate': '{:.1%}'})

In [54]:
#score by school size
# Sample bins. 

# create size bins

bins = [0, 999, 1999, 99999999999]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (>2000)"]
merged_df['size_bins'] = pd.cut(merged_df['size'], bins, labels = group_name)

In [56]:
#group by spending
by_size = merged_df.groupby('size_bins')

#calculations
average_math = by_size['math_score'].mean()
average_read = by_size['math_score'].mean()

In [ ]:
passing_math = merged_df[merged_df['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
passing_read = merged_df[merged_df['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()

# df build

In [57]:
scores_by_size = pd.DataFrame({
    "Average Math Score": average_math,
    "Average Reading Score": average_read,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_read,
    "Overall Passing Rate": overall
})

In [58]:
#reorder columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

In [59]:
scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

#formating
scores_by_size.style.format({'Average Math Score': '{:.1f}',
                              'Average Reading Score': '{:.1f}',
                              '% Passing Math': '{:.1%}',
                              '% Passing Reading':'{:.1%}',
                              'Overall Passing Rate': '{:.1%}'})

In [60]:
by_type = merged_df.groupby("type")

#calculations

average_math = by_type['math_score'].mean()
average_read = by_type['math_score'].mean()
passing_math = merged_df[merged_df['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
passing_read = merged_df[merged_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()

# df build

In [61]:
scores_by_type = pd.DataFrame({
    "Average Math Score": average_math,
    "Average Reading Score": average_read,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_read,
    "Overall Passing Rate": overall})

In [62]:
#reorder columns
scores_by_type = scores_by_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

In [63]:
scores_by_type.index.name = "Type of School"
#formating
scores_by_type.style.format({'Average Math Score': '{:.1f}',
                              'Average Reading Score': '{:.1f}',
                              '% Passing Math': '{:.1%}',
                              '% Passing Reading':'{:.1%}',
                              'Overall Passing Rate': '{:.1%}'})

In [ ]:
Summary
The charter school did better than the District 
Bailey Hight school has the highest number of students
Holden has the lowest number of students. However the each school spend 
the same on each student making the funds distribution even across schools.